body {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px){
  .navbar-collapse{
    display: flex;
    align-items: center;
  }

  .form-login{
    width: auto;
                                                                                                                                                                                                                 }
}

@media (min-width: 900px){
  #navbarNav{
    display: flex;
    justify-content: end;
  }
}

textarea {
  resize: none;
}

main {
  padding-bottom: 20px;
}

footer {
  color: white;
}

footer .row {  
  display: flex;
  text-align: center;
}

.row {
  padding: 10px;
}

a:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: rgba(110, 110, 110, 0.227); /* fondo tenue */
  border-radius: 0.25rem;
}

.form-login {
  width: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 15%;
}


.h2-login {
  text-align: center;
  margin-bottom: 20px;
}

.form-login button{
  padding: 10px;
  display: flex;
  align-items: center;
}

.img-servicios {
  width: 100%; 
  height: 160px; 
  object-fit: cover; 
  border-radius: 12px 12px 0 0;
}

/* azul neón (#2272FF), negro (#1D1D1) */