<h2 class="text-center">Contactenos</h2>
<form>
  <div class="mb-3">
    <label for="emailContac" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailContac">
  </div>
  <div class="mb-3">
    <label for="nombreContac" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombreContac">
  </div>
  <div class="mb-3">
    <label for="detalleContac" class="form-label">Comentario</label>
    <textarea class="form-control" id="detalleContac"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
