/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

.row {
  padding: 10px;
}

main {
  padding-bottom: 20px;
  margin-bottom: 126px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
